@model ServisTakip.Models.ViewModel

@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/Firma_Layout.cshtml";
}
<div id="content">
    <script>
        document.getElementById("ayarlar").className = "active";
    </script>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ayarlar
                @if (TempData["mesaj"] != null)
                {
                    <a class="btn btn-grad btn-md btn-info" value="@TempData["mesaj"]" onclick="$(this).remove()">@TempData["mesaj"]</a>
                }
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
                <li><a href="#">Ayarlar</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <form action="~/Firma/FirmaGuncelle" method="post" role="form" enctype="multipart/form-data">
                                    @foreach (var firma in Model.Firmalar)
                                    {
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Adı</label>
                                            <input name="firAd" required type="text" class="form-control" placeholder="Firma Adını Girin" value="@firma.firAd">
                                            <input name="firId" required type="text" hidden="hidden" value="@((int)Session["firId"])">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Yetkili Ad Soyad</label>
                                            <input name="firYetkiliAdSoyad" required type="text" class="form-control" placeholder="Firma Yetkilisi Adını ve Soyadını Girin" value="@firma.firYetkiliAdSoyad">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firme Telefon</label>
                                            <input name="firTel" required type="tel" class="form-control" placeholder="Firma Telefon No Girin" value="@firma.firTel">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Fax</label>
                                            <input name="firFax" required type="tel" class="form-control" placeholder="Firma Fax No Girin" value="@firma.firFax">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Email</label>
                                            <input name="firEmail" readonly="readonly" type="email" class="form-control" placeholder="Firma Email Bilgisi Değiştirilemez" value="@firma.firEmail">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Parola</label>
                                            <input name="firParola" maxlength="12" type="password" class="form-control" placeholder="Firma Parolası Boşken Değiştirilmez">
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>Firma Adresi</label>
                                            <textarea name="firAdres" required class="form-control" placeholder="Firma Adresini Girin">@firma.firAdres</textarea>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                            <label>İlçe / İl</label>
                                            <select name="ilce_Id" id="ilce_Id" class="select2 form-control" style="width:100% !important;">

                                                @foreach (var il in Model.Iller)
                                                {
                                                    <optgroup label="@il.il_Ad">
                                                        @foreach (var ilce in Model.Ilceler.Where(x => x.il_id == il.il_id))
                                                        {
                                                            <option value="@ilce.ilce_id">@ilce.ilce_ad</option>
                                                        }
                                                    </optgroup>
                                                }
                                            </select>
                                        </div>
                                        <script type="text/javascript">
                                        $('#ilce_Id').val('@firma.ilce_id');
                                        </script>
                                    }
                                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 col-sm-12">
                                        <br>
                                        <button type="submit" class="btn btn-primary form-control">Firma Bilgisini Kaydet</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(function () {
        $('.table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>