@{
    ViewBag.Title = "Araclar";
    Layout = "~/Views/Shared/Firma_Layout.cshtml";
    int firId = (int)Session["firId"];
}
@model ServisTakip.Models.ViewModel
<div id="content">
    <script>
        document.getElementById("servisler").className = "active";
    </script>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Araclar 
                @if (TempData["mesaj"] != null)
                {
                    <a class="btn btn-grad btn-md btn-info" value="@TempData["mesaj"]" onclick="$(this).remove()">@TempData["mesaj"]</a>
                }
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
                <li><a href="#">Araclar</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="box box-default collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Yeni Servis Ekle</h3>
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <form action="~/Firma/ServisEkle" method="post" role="form" enctype="multipart/form-data">
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                        <label>Servis Plakası</label>
                                                        <input name="plaka" required type="text" id="plaka" class="form-control" placeholder="Servis Plakasını Girin">
                                                        <input name="firId" required type="text" hidden="hidden" id="firId"  value="@((int)Session["firId"])">
                                                    </div>
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                        <label>Son Muayene Tarihi</label>
                                                        <input name="sonMuayeneTarih" required type="datetime" id="sonMuayeneTarih" class="form-control" placeholder="Son Muayene Tarihini Girin">
                                                    </div>
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                        <label>İşe Giriş Tarihi</label>
                                                        <input name="iseGirisTarih" required type="datetime" id="iseGirisTarih" class="form-control" placeholder="İşe Giriş Tarihini Girin">
                                                    </div>
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                        <label>Sicil No</label>
                                                        <input name="sicilNo" required type="tel" id="sicilNo" class="form-control" placeholder="Sicil No Girin">
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                                        <label>
                                                            Aktif Mi?
                                                        </label>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="aktifMi" name="aktifMi" type="checkbox" />
                                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                Aktif Mi?
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                        <label>Şoför</label>
                                                        <select id="sofId" name="sofId" class="select2 form-control" required style="width:100% !important;">
                                                            @foreach (var sofor in Model.FirmaSoforleri.Where(x=> x.firId == firId && x.Soforler.AracSoforleri.Where(y=>y.yedekMi==false).Count() == 0))
                                                            {
                                                                <option value="@sofor.sofId">@sofor.Soforler.sofAd @sofor.Soforler.sofSoyad / @sofor.Soforler.sofGsm</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                        <label>Yedek Şoför</label>
                                                        <select id="yedekId" name="yedekId" class="select2 form-control" style="width:100% !important;">
                                                            <option value=""></option>
                                                            @foreach (var sofor in Model.FirmaSoforleri.Where(x=>x.firId == firId))
                                                            {
                                                                <option value="@sofor.sofId">@sofor.Soforler.sofAd @sofor.Soforler.sofSoyad / @sofor.Soforler.sofGsm</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                        <label>İşlemler</label>
                                                        <button type="submit" class="btn btn-primary form-control">Şoför Ekle</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Plaka</th>
                                            <th>Sicil No</th>
                                            <th>Auth Code</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var firmaServisi in Model.FirmaAraclari)
                                        {
                                            <tr>
                                                <td>@firmaServisi.aracId</td>
                                                <td>@firmaServisi.Araclar.plaka</td>
                                                <td>@firmaServisi.Araclar.sicilNo</td>
                                                <td>@firmaServisi.Araclar.authCode</td>
                                                <td>
                                                    <span class="button-group">
                                                        <button type="button" class="btn btn-primary fa fa-user" data-toggle="modal" data-target="#servisSoforleri_@firmaServisi.aracId"></button>
                                                        <button type="button" class="btn btn-warning fa fa-pencil" data-toggle="modal" data-target="#myModalId_@firmaServisi.aracId"></button>
                                                        <a href="/Firma/ServisSil?firId=@((int)Session["firId"])&aracId=@firmaServisi.aracId" name="@firmaServisi.aracId" onclick="confirm('Emin Misiniz?')" class="btn btn-danger btn-md btn-grad fa fa-trash"></a>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @foreach (var servis in Model.Araclar)
                        {
                            foreach (var firmaServisleri in servis.FirmaAraclari)
                            {
                            <!-- SERVİS DÜZENLEME -->
                            <div class="modal fade bs-example-modal-lg" id="myModalId_@firmaServisleri.aracId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Servis Düzenle</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <form action="Firma/ServisGuncelle" method="post" enctype="application/x-www-form-urlencoded">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                            <label>Plaka</label>
                                                            <input name="plaka" required type="text" id="plaka_@firmaServisleri.aracId" class="form-control" placeholder="Plaka Girin" value="@firmaServisleri.Araclar.plaka">
                                                            <input name="aracId" type="text" id="servisId_@firmaServisleri.aracId" hidden="hidden" value="@firmaServisleri.aracId">
                                                            <input name="firId" type="text" id="firId" hidden="hidden" value="@Session["firId"]">
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                            <label>Son Muayene Tarihi</label>
                                                            <input name="sonMuayeneTarih" required type="date" id="sonMuayeneTarih_@firmaServisleri.Araclar.aracId" class="form-control" placeholder="Son Muayene Tarihini Girin" 
                                                                value="@{
                                                                if (firmaServisleri.Araclar.sonMuayeneTarih != null)
                                                                    { 
                                                                        <text> @firmaServisleri.Araclar.sonMuayeneTarih.Value.ToString("yyyy-MM-dd") </text> 
                                                                    }
                                                                    else
                                                                    {
                                                                        <text> Girilmedi </text>
                                                                    }
                                                                }
                                                            "/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                            <label>İşe Giriş Tarihi</label>
                                                            <input name="iseGirisTarih" required type="date" id="iseGirisTarih_@firmaServisleri.Araclar.aracId" class="form-control" placeholder="İşe Giriş Tarihini Girin"  
                                                                value="@{
                                                                if (firmaServisleri.Araclar.iseGirisTarih != null)
                                                                    { 
                                                                        <text> @firmaServisleri.Araclar.iseGirisTarih.Value.ToString("yyyy-MM-dd") </text> 
                                                                    }
                                                                    else
                                                                    {
                                                                        <text> Girilmedi </text>
                                                                    }
                                                                }
                                                            ">
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                            <label>Sicil No</label>
                                                            <input name="sicilNo" required type="text" id="sicilNo_@firmaServisleri.Araclar.aracId" class="form-control" placeholder="Sicil No Girin" value="@firmaServisleri.Araclar.sicilNo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                            <label>
                                                                Servis Aktif Mi?
                                                            </label>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="aktifMi" name="aktifMi" type="checkbox" @if (firmaServisleri.Araclar.aktifMi == true) { <text>checked="checked"</text> } />
                                                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                                    Servis Aktif Mi?
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                            <label>İşlemler</label>
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                                                    <button type="button" class="btn btn-default btn-md btn-grad form-control " data-dismiss="modal">İptal</button>
                                                                </div>
                                                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                                                    <button type="submit" name="@firmaServisleri.Araclar.aracId" class="btn btn-warning btn-md btn-grad form-control">Kaydet</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                        @foreach (var servis in Model.Araclar)
                        {
                            <!-- SERVİS ŞOFÖRLERİ DÜZENLEME -->
                            <div class="modal fade bs-example-modal-lg" id="servisSoforleri_@servis.aracId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Servis Şoförlerini Düzenle</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <form action="/Firma/ServisSoforleriGuncelle" onsubmit="if($('#sofId').val() == $('#yedekId').val()) { alert('') } else { }" method="post" enctype="application/x-www-form-urlencoded">
                                                    <div class="form-group">
                                                        @foreach(var servisSofor in Model.AracSoforleri.Where(x => x.aracId == servis.aracId && x.yedekMi==false))
                                                        {
                                                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                                <label>Şoför</label>
                                                                <select name="sofId" id="sofId" required="required" class="select2 form-control">
                                                                    <option selected="selected" value="@servisSofor.sofId">@servisSofor.Soforler.sofAd @servisSofor.Soforler.sofSoyad / @servisSofor.Soforler.sofGsm</option>
                                                                    @foreach (var sofor in Model.Soforler.Where(x => x.sofId != servisSofor.sofId && x.AracSoforleri.Where(y => y.yedekMi == false).Count() == 0))
                                                                    {
                                                                        <option value="@sofor.sofId">@sofor.sofAd @sofor.sofSoyad / @sofor.sofGsm</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        }
                                                        @if (Model.AracSoforleri.Where(x => x.aracId == servis.aracId && x.yedekMi == false).Count() == 0)
                                                        {
                                                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                                <label>Şoför</label>
                                                                <select name="sofId" id="sofId" required="required" class="select2 form-control">
                                                                    @foreach (var sofor in Model.Soforler)
                                                                    {
                                                                        <option value="@sofor.sofId">@sofor.sofAd @sofor.sofSoyad / @sofor.sofGsm</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        }
                                                        @foreach (var servisSofor in Model.AracSoforleri.Where(x => x.aracId == servis.aracId && x.yedekMi == true))
                                                        {
                                                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                                <label>Yedek Şoför</label>
                                                                <select name="yedekId" id="yedekId" class="select2 form-control">
                                                                    <option value="">Yedek Şoför Yok</option>
                                                                    <option selected="selected" value="@servisSofor.sofId">@servisSofor.Soforler.sofAd @servisSofor.Soforler.sofSoyad / @servisSofor.Soforler.sofGsm</option>
                                                                    @foreach (var sofor in Model.Soforler.Where(x=>x.sofId != servisSofor.sofId && x.AracSoforleri.Where(y=>y.yedekMi==false).Count() == 0))
                                                                    {
                                                                        <option value="@sofor.sofId">@sofor.sofAd @sofor.sofSoyad / @sofor.sofGsm</option>
                                                                    }
                                                                </select>

                                                            </div>
                                                        }
                                                        @if (Model.AracSoforleri.Where(x => x.aracId == servis.aracId && x.yedekMi == true).Count()==0)
                                                        {
                                                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                                <label>Yedek Şoför</label>
                                                                <select name="yedekId" id="yedekId" required="required" class="select2 form-control">
                                                                    <option value="">Yedek Şoför Yok</option>
                                                                    @foreach (var sofor in Model.Soforler)
                                                                    {
                                                                        <option value="@sofor.sofId">@sofor.sofAd @sofor.sofSoyad / @sofor.sofGsm</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        }
                                                        <input name="aracId" type="text" id="aracId" hidden="hidden" value="@servis.aracId">
                                                        <input name="firId" type="text" id="firId" hidden="hidden" value="@Session["firId"]">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                                            <label>İşlemler</label>
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                                                    <button type="button" class="btn btn-default btn-md btn-grad form-control " data-dismiss="modal">İptal</button>
                                                                </div>
                                                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                                                    <button type="submit" name="@servis.aracId" class="btn btn-warning btn-md btn-grad form-control">Kaydet</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(function () {
        $('.table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "scrollX": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>